@model GameLogic.Characters.Character
@{
    ViewBag.Title = "Character Screen";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">
            $(document).ready(function() {
                Character.initialize();
            });
        </script>
        <title>Character</title>
    </head>
    <body>
        <h2>Character Details</h2>
        @Html.ValidationSummary(true)
        @{
            Html.RenderPartial("~/Views/Home/Character/CharacterDetails.cshtml", @Model);
        }
        <div>
            @Html.ActionLink("Get geared up at the shop!", "Shop", "Home")
            ||
            @Html.ActionLink("Wanna fight? Head to the arena!", "Arena", "Home")
        </div>
        <div id="skillTreeDialog">
            @{
                Html.RenderPartial("~/Views/Home/Character/SkillTree.cshtml", @Model);
            }
        </div>
    </body>
</html>
