@using System.Globalization
@using GameLogic.Enums
@model GameLogic.Tournament.Tournament
@{
    ViewBag.Title = "Tournament";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tournament</title>
</head>
<body>
    <h2>Welcome to the Tournament!</h2>
    <div>
        @Html.ValidationSummary(true)
        @if (@Model.TournamentStatus == TournamentStatus.NotStarted)
        {
            <div>
                Great news - there is an upcoming tournament! Click the button below to sign up. After signing up, you'll be able to view the other competitors.
                @using (Html.BeginForm("JoinTournament", "Tournament"))
                {
                    <button type="submit">Join Tournament</button>
                }
            </div>
        }
        else
        {
            <div>
                <span class="labelTextContainer">Tournament Round <span class="emphasisePositiveText">@Model.Round.ToString(CultureInfo.InvariantCulture)</span></span>
                
                @foreach (var battle in Model.BattlesByRound[Model.Round])
                {
                    Html.RenderPartial("~/Views/Home/Tournament/VersusContainer.cshtml", battle);
                }
            </div>
        }
    </div>
</body>
</html>
