
/* General Reusable styles...*/
span.warningText {
    color: red;
    font-weight: bold;
}

span.emphasisePositiveText {
    color: #70E270;
    font-weight: bold;
}

span.emphasiseText {
    font-weight: bold;
}

span.labelTextContainer {
    margin-bottom: 10px;
}

div.centeredTextContainer {
    text-align: center;
}

span.centeredText {
    display: inline-block;
}

span.boomText {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

div.borderedContainer {
    border: 1px solid #000000;
    padding: 5px;
    margin: 10px;
}

/* Character area...*/
div.charEquipRow {
    height: 100px;
    margin-bottom: 5px;
    width: 650px;
}

div.charEquipCell {
    height: 100px;
    border: 1px solid #000000;
    margin-right: 5px;
    width: 100px;
}

div.charEquipMultCell {
        float: left;
}

div.charEquipSingleCell {
    position: relative;
    left: 107px;
}

span.charEquipTitle {
    font-size: 8pt;
    font-weight: bold;
}

div.skillTreePathContainer {
    float: left;
    border: 1px dashed #5A5A5A;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #5A5A5A;
}

div.skillTreePathContainerActive {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

div.skillTreePathContainerHover {
    border: 2px solid #70E270;
    color: #70E270;   
}

span.skillTreeBaseHeading {
    display: inline-block;
    width: 100%;
}

span.skillTreePathHeading {
    display: block;
    max-width: 100px;
    margin-bottom: 5px;
}

div.skillPathContainer {
    border: 1px dashed #5A5A5A;
    color: #5A5A5A;
    padding: 5px;
    text-align: center;
    min-width: 50px;
    min-height: 100px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

span.skillPathModifier {
    display: inline-block;
}

div.skillPathContent li {
    text-align: left;
}

div.skillTreeHeadingText {
    margin-top: 5px;
    margin-bottom: 10px;
}


/* Arena area... */
#arenaFloor {
    border: 1px solid #000000;
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

div.arenaFloorRow {
    height: 30px;
    width: 350px;
}

div.arenaFloorTile {
    float: left;
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 1px;
}

div.arenaFloorTile:hover {
    border: 2px solid #000000;
    background-color: #bdb76b;
    padding: 0;
}

div.arenaFloorTile.targetted {
    border: 2px solid #000000;
    background-color: #a52a2a;
    padding: 0;
}

img.player {
    position: relative;
    bottom: 155px;
    right: 155px;
    pointer-events: none;
}

#playerInfo {
    float: left;   
}

#enemyInfo {
    float: right;
}

#playerActions {
    margin-left: auto;
    margin-right: auto;
}

/* Tournament Area */
div.versusContainer {
    padding: 15px;
    border: 1px solid #000000;
    margin: 10px;
    width: 150px;
}