@model GameLogic.Tournament.BattleDetails
@{
    Layout = null;
}

<div id="battleLogContent borderedContainer">
    @for (var i =0; i < Model.TurnDetails.Count; i++)
    {
        <div class="">
            <span class="emphasiseText">Turn @i: </span>
            @Model.TurnDetails[i]
        </div>
    }
</div>
